
.everything{
	position: absolute;
	width: 100%;
	height: 100%;
}

.bottom {
	left: 6%;
	width: 80%;
	position: relative;
	top: 96.7%;
	z-index: 10;
}


body {
	margin: 0;
}

button {
	background: rgba(0,0,0,0);
	margin-right: 10px;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 17.5px;
    color: #FFFDF9;
    -webkit-text-stroke-width: .8px;
   	-webkit-text-stroke-color: black;
    font-family: 'Futura', sans-serif;
}

button: hover {
	text-shadow:0 0 1px black, 0 0 1px black, 0 0 1px black
}

window.alert {
	font-family: 'Futura', sans-serif;
	color: blue;

}

#all {
	color: #00cc00;
}

#clear {
	color: red;
}

#map {
	position: absolute;
	height: 100%;
	width: 100%;
}

#out {
	color: orange;
}

#home {
	color: #ADD8E6;
}


